.user-recipes-error {
  background-color: #f2f2f2;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  max-width: 50rem;
  text-align: center;
  padding: 1rem 0;
  color: #141823;
}
