.edit-recipe-form {
  background-color: #f2f2f2;
  border: 2px solid #000000;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.edit-recipe-form button {
  background-color: #1d3557;
  font-size: 1.2rem;
  padding: 0.2rem;
  color: #f5f5f5;
  margin: 0.5rem auto;
  border-radius: 10px;
  border-color: #111;
  display: block;
  width: 95%;
}

.edit-recipe-form button:hover {
  cursor: pointer;
  background-color: #457b9d;
  border-color: #555;
  color: #fff;
}

.edit-recipe-form button:last-child {
  background-color: #d00013;
  font-size: 1.4rem;
  padding: 0.5rem 2rem;
  color: #f5f5f5;
  margin: 4rem auto 2rem auto;
  border-radius: 10px;
  border-color: #111;
  display: block;
  width: auto;
}

.edit-recipe-form button:last-child:hover {
  cursor: pointer;
  background-color: #f00013;
  border-color: #555;
  color: #fff;
}

.edit-recipe-form hr {
  margin-top: 1rem;
}

.edit-recipe-form button:disabled {
  background-color: #aaa;
  color: #ddd;
  border-color: transparent;
}

.edit-recipe-form button:disabled:hover {
  cursor: not-allowed;
  background-color: #aaa;
  color: #ddd;
  border-color: transparent;
}

.edit-recipe-form h2 {
  margin: 1rem 0;
}