.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #950000;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  height: 4rem;
  box-shadow: 0px 3px 6px rgb(0, 0, 0, 0.3);
  z-index: 1;
}

.brand {
  margin-left: 1rem;
  font-size: 2rem;
  color: #ffdb14;
  text-shadow: 2px 2px 4px #000;
  display: flex;
  align-items: center;
}

.brand img {
  width: 3rem;
  margin-right: 1rem;
}

main {
  margin-top: 7rem;
}
