.nav-links {
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-right: 1rem;
}

.nav-links a {
  text-decoration: none;
  color: #f5fff2;
  display: inline-block;
  position: relative;
  padding: 0.5rem;
  border: 2px solid transparent;
  font-size: 18px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a:active,
.nav-links a.active {
  color: #111;
  border-color: #111;
  background-color: #ffdb14;
}

.logout-btn {
  color: #f5fff2;
  padding: 0.5rem;
  border: 2px solid transparent;
  font-size: 18px;
  transition: 0.3s;
  background-color: transparent;
  margin: 0;
}

.logout-btn:hover {
  color: #111;
  border-color: #111;
  background-color: #ffdb14;
  cursor: pointer;
}
