.comments{
    background-color: #f2f2f2;
    border: 2px black solid;
    border-radius: 12px;
    max-width: 70rem;
    margin: 2rem auto;
    padding: 1rem;
}
.add-comment-btn{
  margin: 0;
  margin-right: 1rem;
  font-weight: 550;
  border-color: #000;
  border-style: solid;
  padding: 0.2rem 1rem;
  border-radius: 6px;
  font-size: 1.2rem;
}

.add-comment-btn:hover {
    background-color: #222;
    color: #f2f2f2;
}