.recipe-item {
  list-style-type: none;
  background-color: #950000;
  border: 2px solid #000000;
  color: #f2f2f2;
  border-radius: 6px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  margin: 1rem;
  width: 35rem;
  padding: 0;
  display: block;
  position: relative;
}

.recipe-item:hover {
  cursor: pointer;
  background-color: #e2c313;
  color: #000;
}

.recipe-item a {
  text-decoration: none;
  color: inherit;
  display: block;
  height: 100%;
  width: 100%;
}

.recipe-item p {
  padding: 0.5rem;
  margin-bottom: 2rem;
}

.recipe-item img{
  width: 100%;
  height: 18rem;
}

.recipe-item__rating{
  position: absolute;
  bottom: 5px;
  right: 5px;
}