body {
  margin: 0;
  background-color: #5c5c5c;
  background-image: url("./shared/media/269.jpg");
  background-repeat: repeat;
  background-size: 33%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
